/* BODY */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #af9476;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #532d02;
}

a:visited {
  color: inherit; /* Giữ nguyên màu như trước khi truy cập */
}

a:hover {
  color: bisque;
}
header {
  margin-bottom: 50px;
}

hr {
  width: 60vw;
  height: 2px;
  background-color: #000;
  border: none;
  margin: auto;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */

.header_container {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  color: #532d02;
}

.header_container h1 {
  position: absolute;
  left: 10%;
  font-size: 3rem;
}
.category_book {
  position: absolute;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 10px;
}

.category_book select {
  background-color: #fff0;
  font-size: 1.5rem;
  border: 2px #532d02 solid;
  color: #532d02;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.category_book option {
  background-color: #af9476;
}

.category_book form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_book a {
  background-color: #fff0;
  font-size: 1.5rem;
  border: none;
  color: #532d02;
  cursor: pointer;
  text-align: center;
}

/* MAIN */
.books_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.book_review {
  display: inline-block;
  width: 80%;
}

.book_review a {
  cursor: pointer;
}

.book_review img {
  height: 180px;
  width: 120px;
  padding-right: 20px;
  background-size: cover;
  background-position: center;
  float: left;
}

.review_container * {
  padding-bottom: 10px;
}

.review_container h2 {
  font-size: 2rem;
  color: #532d02;
}
.review_container a {
  text-decoration-line: underline;
}

.review_container a:hover {
  color: bisque;
}

.review_container > p:nth-of-type(1) {
  font-size: 1.2rem;
  color: #613e16;
}

.review_container > p:nth-of-type(2) {
  font-size: 1.3rem;
  line-height: 1.5;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2 {
  flex: 1;
}
.title button {
  flex-basis: 50px;
  background-color: #ffffff00;
  border: none;
  color: #532d02;
  cursor: pointer;
  font-size: 2rem;
}
/* MODIFY */
.modify_container {
  width: 60%;
  background-color: bisque;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modify_container h1 {
  padding-top: 20px;
}

.modify_container form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.title_rating {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
.title_rating input:nth-child(1) {
  flex: 1;
}
.title_rating input:nth-child(2) {
  flex-basis: 75px;
  text-align: center;
}
.modify_container input,
.modify_container textarea,
.modify_container button {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}
.modify_container input,
.modify_container textarea {
  box-sizing: border-box;
  width: 100%;
}

.modify_container button {
  width: 50%;
  background-color: #af9476;
  cursor: pointer;
}

.modify_container button:hover {
  width: 50%;
  background-color: #77644f;
}

/* DETAILS */
.details_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book {
  display: inline-block;
  width: 100%;
}

.book img {
  height: 180px;
  width: 120px;
  background-size: cover;
  background-position: center;
  float: left;
  padding-right: 20px;
}

.book * {
  padding-bottom: 10px;
}

.book h2 {
  font-size: 2rem;
  color: #532d02;
}

.book p {
  font-size: 1.2rem;
  color: #613e16;
}

.intro_book {
  font-size: 1.3rem;
  line-height: 1.5;
}

.my_notes {
  width: 80%;
}

.my_notes h3 {
  font-size: 2rem;
  color: #532d02;
}

.my_notes p {
  font-size: 1.2rem;
}

.add_note {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.add_note h3 {
  flex: 1;
}

.add_note button {
  width: 50px;
  height: 30px;
  font-size: 1.2rem;
  color: #532d02;
  border: #532d02 1px solid;
  border-radius: 5px;
  background-color: #ff00;
  cursor: pointer;
}

.add_note button:hover {
  background-color: #613e16;
  color: #000;
}

.add {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add input {
  flex: 1;
  padding: 0 10px;
}

.add button {
  flex-basis: 50px;
  text-align: center;
  font-size: 1.2rem;
  color: #532d02;
  border: #532d02 1px solid;
  border-radius: 5px;
}

.add button:hover {
  background-color: #613e16;
  color: #000;
}
